{% extends 'base.html.twig' %}

{% block title %}Hello CampingController!
{% endblock %}

{% block body %}
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	<div class="example-wrapper">
		<div class="all">
			<div class="card" style="width:500px;">

				<h3>{{controller_name}}</h3>
				{{ form_start(formCamp) }}
				{{ form_row(formCamp.nomCamping) }}
				{{ form_row(formCamp.desc) }}
				{{ form_row(formCamp.ville) }}
				{{ form_row(formCamp.nbTentes) }}
				{{ form_row(formCamp.nbBungalow) }}
				{{ form_row(formCamp.nbCar) }}
				{{ form_end(formCamp) }}

			</div>
		</div>
	</div>
{% endblock %}
