{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 75%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 5px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h2>Page de connexion</h2>
		{% for message in app.flashes('notice') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
		{% endfor %}


		{{ form_start(formConnect) }}
		{{ form_end(formConnect) }}
		<a href="{{path('inscription')}}">
			<button>Inscription</button>
		</a>
	</div>
{% endblock %}
